.do-container{
    width: 50%;
    height: 100%;
    margin:5px ;
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: space-between;
}
.do{
    white-space:normal;
    width: 100%;
    height: 90%;
    background-color: blueviolet;
    padding: 0;
    margin-top: 0;
}
.filter-input{
    height: 90%;
    display: flex;
    flex-direction: column;
}
.filter{
    background-color: blueviolet;
    display: flex;
    height: 10%;
    align-items: center;
}
.title-lists{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 85px;
}