.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}